<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.film.mapper.Film_showsMapper">    <!-- 注意修改-->
    <!-- #{name} 获取Info对象的name
    模糊查询： name LIKE '%${name}$%'-->

    <update id="updateFilm_shows" parameterType="Film_shows">
        UPDATE film_shows SET reserve_info = #{reserve_info}
        WHERE hall_id = #{hall_id} AND start_time = #{start_time}
    </update>

    <select id="find_one_Film_shows" resultType="Film_shows" parameterType="Film_shows">
        SELECT * FROM film_shows WHERE hall_id = #{hall_id} AND start_time = #{start_time}
    </select>

</mapper>