<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.film.mapper.UserMapper">

    <!-- resultType="User",返回参数类型；
    paramentType="User",输入参数类型；
    #{name} 获取User对象的name
    模糊查询： name LIKE '%${name}$%'-->
    <select id="findUserInfo" resultType="User" parameterType="User">
        SELECT * FROM user WHERE user_name = #{user_name} AND user_id = #{user_id}
    </select>

    <insert id="addUserInfo" parameterType="User">
        INSERT INTO user (img_url,user_name,pwd,balance,level)
        VALUES (#{img_url},#{user_name},#{pwd},#{balance},#{level})
    </insert>



</mapper>