<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.film.mapper.User_tabMapper">

    <select id="findUser_tab" resultType="User_tab" parameterType="Int">
        SELECT * FROM user_tab WHERE user_id = #{user_id}
    </select>

    <update id="modifyUser_tab" parameterType="User_tab">
        UPDATE user_tab SET
        magic = #{magic},plot = #{plot},science_fiction = #{science_fiction},
        romance = #{romance},history = #{history}, comedy = #{comedy},
        user_tab.action = #{action},animation = #{animation},
        horror = #{horror}, war = #{war}
        WHERE user_id = #{user_id}
    </update>
</mapper>